body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333333;
    padding-top: 112px;
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.text-center{
    text-align: center;
}
a{
    color: inherit;
    text-decoration: none;
}
.container{
    width: 90%;
    margin: 0px auto;
    display: flex;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 24px 32px;
    border-bottom: 1px solid #eeeeee;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: #ffffff;
}
header .logo img{
    height: 60px;
    width: auto;   
}
header .menu{
    display: flex;
    gap: 24px;
    align-items: center;
}
header .menu li{
    list-style: none;
    cursor: pointer;
}
header .menu li:hover, header .menu li.active{
    color: #1f3984;
}
.header-background img{
    width: 100%;
    height: auto;
}
h1{
    font-size: 32px;
    font-weight: 600;
    margin: 32px 0px;
    letter-spacing: 1.32px;
}
p, ol{
    font-size: 14px;
    padding: 0px 32px;
}
ol{
    margin-left: 16px;
}
.image-list{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 32px auto;
}
.image-list img{
    width: 30%;
    border-radius: 12px;
}
.image-list.perpus img{
    width: 48%;
}
footer{
    background: #4a5dc4;
    color: #fff;
    margin-top: 20px;
    border-top: 3px solid #1f3984;
    text-align: center;
    padding: 32px 0px;
}